body {
    margin: 0;
    padding: 0;
  }

  #smooth-wrapper {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #smooth-content {
    overflow: visible;
    width: 100%;
    opacity: 1;
  }
  
  #container_am {
    /* position: absolute; */
    touch-action: none;
    height: 100vh;
  }
  
  .blank {
    background-color: orange;
    height: 100vh;
  }