.clip {
    clip-path: url("#clippath");
  }
  
  #loadersvg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
  }
  
  .transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
  
    background: #000336;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
  }